body {
    font-family: Verdana,sans-serif;        
    font-size:0.8em;
    background-color: #004E64;
    }
  
  header,nav, section,article,footer {
    border:1px solid grey; 
    margin:5px;
    padding:8px;
    background-color: whitesmoke;
    }
  nav ul {
    margin:0; 
    padding:0;
    text-align: center;
    }
  nav ul li {
    display:inline; 
    margin:5px;
    }
  /* aside { 
    float:right;
    } */
  
  h1,h2,h3,h4{
    text-align: center;
    }
    
  table{
   margin:5px;
  }


