@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
body {
    font-family: Verdana,sans-serif;        
    font-size:0.8em;
    background-color: #004E64;
    }
  
  header,nav, section,article,footer {
    border:1px solid aliceblue; 
    margin:5px;
    padding:8px;
    background-color: whitesmoke;
    border-radius: 2%;
    }
  nav ul {
    margin:0; 
    padding:0;
    text-align: center;
    }
  
 
  
  h1{
    text-align: center;
    }
  