@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Oswald&display=swap');
header{
    background-color: #9FFFCB;
    font-family: 'Grand Hotel', cursive;
    color: #2B3964;
    font-size: larger;
}

.navigation{
    background-color: #25A18E;
    font-family: 'Oswald', sans-serif;
   
}