@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Oswald&display=swap');
.activity-form{
    display: grid;
    background-color: #48A9A6;
    margin: 2vh;
    margin-left: 30vh;
    margin-right: 30vh;
    padding: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    border-radius: 20%;
    
}

.home-page{
    font-family: 'Grand Hotel', cursive;
    display: flex;
    background:linear-gradient(#33ccff , #52DED7);
    justify-content:center;
    align-items:center;
    position: relative;top:25vh;
    width: 50vh;
    height: 40vh;
    margin: auto;
    border-radius: 25%;
    border-style: double;
    text-align: center;
    color: #004E64;
    
}